@mixin respond($breakpoint) {
  @if $breakpoint == xsm {
    @media (max-width: 22.5em) {
      @content;
    }
  }
  @if $breakpoint == sm {
    @media (max-width: 36em) {
      @content;
    }
  }
  @if $breakpoint == md {
    @media (max-width: 48em) {
      @content;
    }
  }
  @if $breakpoint == lg {
    @media (max-width: 62em) {
      @content;
    }
  }
  @if $breakpoint == xl {
    @media (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == xxl {
    @media (max-width: 87.5em) {
      @content;
    }
  } @else {
    @media (max-width: $breakpoint) {
      @content;
    }
  }
}

.range {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0 120px;
  position: relative;
  @include respond(900px) {
    flex-direction: column;
    margin: 50px 0 50px;

    & > * {
      width: 100% !important;
    }
  }

  h5 {
    font-family: "Circe";
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  @include respond(900px) {
    margin-bottom: 50px;
  }
}

.stacked {
  @include respond(900px) {
    width: 100%;
  }
  width: 500px;
  height: 11px;
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  position: relative;
  &__total {
    position: absolute;
    top: 0;
    left: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333;
    font-size: 14px;
    z-index: 100;
    i {
      height: 30px;
      width: 2px;
      background-color: #a0a0a0;
      display: block;
    }
    &__initial {
      left: 0;
      right: 100%;
    }
  }
  & > div {
    height: 100%;
    width: 25%;
    position: relative;
  }
  div:nth-child(1) {
    background-color: #e5f2d7;
  }
  div:nth-child(2) {
    background-color: #b0d788;
  }
  div:nth-child(3) {
    background-color: #7cbc39;
  }
  div:nth-child(4) {
    background-color: #fe5717;
  }
}

.unavailable {
  align-self: end;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
  transform: translateY(9px);
  font-size: 18px;
  color: #555;

  div {
    height: 11px;
    width: 100px;
    background-color: #e5e5e5;
    margin-right: 10px;
  }
}
