@mixin respond($breakpoint) {
  @if $breakpoint == xsm {
    @media (max-width: 22.5em) {
      @content;
    }
  }
  @if $breakpoint == sm {
    @media (max-width: 36em) {
      @content;
    }
  }
  @if $breakpoint == md {
    @media (max-width: 48em) {
      @content;
    }
  }
  @if $breakpoint == lg {
    @media (max-width: 62em) {
      @content;
    }
  }
  @if $breakpoint == xl {
    @media (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == xxl {
    @media (max-width: 87.5em) {
      @content;
    }
  } @else {
    @media (max-width: $breakpoint) {
      @content;
    }
  }
}

.graph {
  display: flex;
  margin-top: 2rem;
  overflow-x: hidden;
  overflow-y: hidden;
  @include respond(900px) {
    flex-direction: column;
  }
  // &__chart {
  //   height: 100%;
  //   width: calc(100% - 19.5rem);
  //   @include respond(1200px) {
  //     width: calc(100% - 15.5rem);
  //   }
  //   @include respond(900px) {
  //     width: 100%;
  //   }
  //   @include respond(600px) {
  //     overflow: scroll;
  //     -ms-overflow-style: none; /* IE and Edge */
  //     scrollbar-width: none; /* Firefox */
  //     &::-webkit-scrollbar {
  //       display: none;
  //     }
  //   }
  // }
  &__wrapper,
  &__wrapper_stacked {
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }
    width: calc(100% - 19.5rem);
    @include respond(1200px) {
      width: calc(100% - 15.5rem);
    }
    @include respond(900px) {
      width: 100%;
    }
    // @include respond(600px) {
    //   width: 150%;
    //   overflow-x: scroll;
    // }
  }
  &__wrapper {
    @include respond(900px) {
      height: 400px;
    }
    @include respond(750px) {
      height: 20rem;
    }
    @include respond(600px) {
      height: 18rem;
    }
    &_stacked {
      @include respond(1600px) {
        height: 420px;
      }
      @include respond(1200px) {
        height: 400px;
      }
      @include respond(900px) {
        height: 20rem;
      }
      @include respond(600px) {
        height: 26rem;
      }
      @include respond(400px) {
        height: 30rem;
      }
    }
  }
  &__panel {
    width: 18rem;
    background-color: var(--trends-panel);
    padding: 40px 40px 60px;
    border-radius: 20px;
    margin-right: 1.5rem;
    @include respond(1200px) {
      width: 14rem;
      padding: 20px 20px 10px;
    }
    @include respond(900px) {
      width: 100%;
    }
  }
  &__title {
    font-size: 24px;
    font-family: "Circe";
    color: #7ebd3b;
    margin-bottom: 20px;
  }
  &__menu {
    list-style: none;
    font-family: "Circe";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    color: var(--title);
    @include respond(900px) {
      flex-direction: row;
      flex-wrap: wrap;
    }
    li {
      width: 11rem;
      padding: 10px 20px;
      border-radius: 25px;
      font-weight: 600;
      display: flex;
      align-items: center;
      cursor: pointer;
      border: 1px solid transparent;
      transition: all 0.3s ease-out;
      @include respond(900px) {
        width: 8rem;
      }
      img {
        height: 28px;
        margin-right: 18px;
        color: #555;
        transition: all 0.3s ease-out;
      }
      &:not(:last-child) {
        margin-bottom: 10px;
      }
      &:hover {
        background-color: var(--card);
        border: 1px solid #b0d688;
        & svg {
          color: #7ebd3b;
        }
      }
    }
    &--active {
      background-color: var(--card);
      border: 1px solid #b0d688;
      & svg {
        color: #7ebd3b !important;
      }
    }
  }
}
