.container-test {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.wrapper-test {
  height: 20rem;
  width: 20rem;
  background-color: #f1f1f1;
}

.svg-test {
  background-color: bisque;
  height: 300px;
  width: 300px;
}

.circle {
  fill: blueviolet;
  stroke-width: 20px;
  stroke: rebeccapurple;
}
