.year {
  &__button {
    stroke: transparent;
    stroke-width: 1px;
    fill: white;
    cursor: pointer;
    &--active {
      stroke: #fe5d1f;
      filter: drop-shadow(0px 5px 3px #ccc);
    }
  }
  &__text {
    cursor: pointer;
    color: #333;
    font-size: 14px;
    text-anchor: middle;
  }
}

.legends {
  color: #333;
  transform: translateY(1px);
  display: inline-block;
  margin: 0 4px;
}

.linetip {
  background-color: #fff;
  border: 1px solid #ededed;
  border-radius: 10px;
  min-width: 220px;
  p {
    font-size: 16px;
    text-align: center;
    padding: 10px 20px 4px;
    background-color: #ededed;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: 600;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding: 10px 20px;
  }
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  span {
    color: #929aa0;
    font-size: 15px;
  }
  h6 {
    font-weight: 600;
    font-family: "Circe";
  }
}

.areatip {
  background-color: #fff;
  border: 1px solid #ededed;
  border-radius: 10px;
  min-width: 150px;
  outline: none;
  &:hover {
    border: none;
  }
  p {
    font-size: 16px;
    text-align: center;
    padding: 10px 20px 4px;
    background-color: #ededed;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: 600;
  }
  span {
    display: block;
    color: #929aa0;
    font-size: 15px;
    padding: 10px 10px;
    text-align: center;
  }
  h6 {
    font-weight: 600;
    font-family: "Circe";
    text-align: center;
    color: #fe5d1f;
  }
}
